
 .Box
 {
 	display: block;
 	margin-left: auto;
    margin-right: auto;
 	opacity: 0.8;
 	width: 500px;
 }

.gandalf
{
	font-size: 90px;
	color:#ffffff;
	position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Amatic SC;
}

.wanted
{	
    opacity: 1;
	position: absolute;
	font-size: 60px;
    top: 05%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
 }

.gold
 {
 	color: #ff9933;
 }

 
.Box:hover
 {
 	display: block;
 	margin-left: auto;
    margin-right: auto;
 	opacity: 1;
 	width: 500px;
 }

.Box:hover .gandalf
{	    
	font-size: 60px;
	color:#ffffff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Amatic SC;
}

.Box:hover .wanted
{	
	opacity: 0;
	position: absolute;
	font-size: 30px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
