
 .Box
 {
    position: relative;
 	margin-left: auto;
    margin-right: auto;
 	opacity: 0.8;
 	width: 500px;
    height: 572px;
 }

.gandalf
{
	font-size: 90px;
	color:#ffffff;
	position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Amatic SC;
}

.wanted
{	
    opacity: 1;
	position: absolute;
    top:0.5%;
    left: 15%;
	font-size: 60px;
    border-radius: 20px;
    background: #ffffff;
    padding: 5px 25px 5px 25px;
 }

.gold
 {
 	color: #ff9933;
 }

 
.Box:hover
 {
 	display: block;
 	margin-left: auto;
    margin-right: auto;
 	opacity: 1;
 	width: 500px;
 }

.Box:hover .gandalf
{	    
	font-size: 60px;
	color:#ffffff;
	position: absolute;
    top: 80%;
    left: 50%;

    font-family: Amatic SC;
}

.Box:hover .wanted
{	
	opacity: 0;
 }
